<h1>Products</h1>
<%= link_to "Sign Up", "/products/new" %>
<%= link_to "Login", "/products/new" %>
<%= link_to "New Product", "/products/new" %>
<!-- <%#= render 'form' %> -->
<!-- <%#= link_to 'Back', products_path %> -->
<!-- ruby code still applies unless you put a # in the middle of the ruby embed! -->
<% @products.each do |product| %>
  <p> Name: <%= product.name %> | Description: <%= product.description %> | Price: <%= product.formatted_price %> cents | </p>
  <%= link_to product.id, "/products/#{product.id}" %>
<% end %>
